@use "shared/scss" as *;

.progrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    padding: 2rem;
    gap: 2rem;

    @include tablet {
    grid-template-columns: repeat(2, 1fr);
    }

    @include laptop {
    grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}
