@use "shared/scss" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  background-color: $white;
  border-radius: 2.4rem;
  padding: 2rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > img {
      width: 100%;
      height: 17rem;
      object-fit: contain;
      object-position: center;
    }

    > a {
      text-decoration: none;
      font-size: 1.4rem;
      color: $blue;
    }
    
    > span {
      font-size: 1.4rem;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}
