@use "shared/scss" as *;

.nav {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  background-color: $white;

  &__content {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;

    > a {
      text-decoration: none;
      color: $black;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  
}
