@use "shared/scss" as *;

.nav {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  background-color: $white;

  &__content {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;

    > a {
      text-decoration: none;
      color: $black;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  &__search {
    background-color: $grey;
    height: fit-content;
    border-radius: 2.4rem;
    position: relative;

    > input {
      background-color: $grey;
      border: none;
      margin: 0 1rem;
      outline: none;
      height: 4.5rem;
      border-radius: 2.4rem;
      font-size: 1.3rem;
      width: 100%;
    }

    > img {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translate(0, -50%);
      height: 2rem;
      width: 2rem;
    }
  }
}
