@use "shared/scss" as *;

.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__totals {
        width: 90%;
        height: fit-content;
    }

    &__table {
        width: 90%;
        display: grid;
        margin-bottom: 5rem;

        &--row {
            display: flex;
            flex-direction: row;
            border: .1rem solid #e1e1e1;
            padding: 1.5rem .5rem;
            align-items: center;
            justify-content: space-between;
            line-height: 1.6rem;
            font-size: 1.6rem;

            > button {
                background-color: $white;
                border: none;
            }

            > img {
                height: 7rem;
                width: 7rem;
                object-fit: contain;
            }

            &:not(:last-child) {
                border-bottom: none;
            }

            &.links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;

                @include tablet {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }

                @include laptop {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 3rem;
                }

                > a { 
                    text-decoration: none;
                    font-size: 1.6rem;
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    color: $black;
                }

                > span {
                    padding-left: 1rem;
                }
            }
        }
    }
}
