@use "shared/scss" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: $green;
  height: fit-content;
  padding: 4rem auto;
  color: $white;

  &__links {
    padding-top: 3rem;

    > a {
      color: $white;
      text-decoration: none;
      padding: 0 2rem;
      height: fit-content;
      width: fit-content;
      text-transform: uppercase;
      font-size: 1.4rem;
    }

    > a:not(:first-child) {
      border-left: 1px solid $white;
    }
  }

  &__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    > img {
      width: 100%;
      height: auto;
      max-height: 3rem;
    }
  }

  &__copyright {
    padding-bottom: 3rem;
  }
}
