@use "shared/scss" as *;

.layout {
  display: flex;
  flex-direction: column;
  background-color: $grey;
  height: fit-content;
  min-height: 100vh;
  gap: 10rem;

  .main {
    margin: 0 auto;
  }
}
